body {
	font-family: Arial;
}

#anim1,
#anim3 {
	background-color:#f00;
	left: 20px;
	opacity: 0; /* IE equivalent */filter:alpha(opacity=0);
	position: absolute;
	top: 250px;
}

#anim2 {
	background-color: #0f0;
	border: 0px solid #00ff00;
	position: absolute;
	left: 20px;
	top: 270px;
}

#anim3 {
	background-color:#228b22;
	height: 10px;
	top: 300px;
	width: 100px;
}

#container {
	margin: auto;
	width: 300px;
}

#container h2,
#container p {
	margin: 0 0 10px;
}

#container h2 {
	background-color: pink;
	font-size: 120%;
	padding: 5px 10px;
	width: 200px;
}

.dd {
	border: 1px solid red;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 10px;
	width: 198px;
}

.cursor {
	cursor: pointer;
}

.hideDD {
	display: none;
	height: 0;
	margin-bottom: -20px;
	opacity: 0; /* IE equivalent */filter:alpha(opacity=0);
}

.showDD {
	display: block;
}